body{
    background: rgb(113, 181, 245);
    font: normal 15pt Arial;
    
}

header{
color: white;
text-align: center;
}

section{
background: white;
border-radius: 10px;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

textarea{
    width:auto;
    height: 200px;
    padding: 5px;
    resize:none;
    overflow: scroll;
    font: normal 15pt Arial;
}


footer{
color: white;
text-align: center;
font-style: italic;
}